/*GRAL*/
*{
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	background-color: #F6F6F6;
	overflow-x: hidden;
}
a:hover {
	text-decoration: none;
	color: inherit;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}
.title_sitio {
	text-align: center;
	border-bottom:1px solid #FC4A4A;
	color: #000;
	text-transform: uppercase;
	font-size: 18px;
}
.title_sitio h3 {
	margin-bottom: 0px;
}
.no-pdd div{
	padding-left: 0px;
	padding-right: 0px;
}
/*.sitio*/
.sitio {
	padding-top: 95px;
}
.sitio a {
	display: inline-block;
}
.sitio h5 {
	text-align: center;
	text-transform: lowercase;
}
.sitio div {
	padding-left: 0px;
	padding-right: 0px;
}
.sitio ul {
	padding-left: 0px;
}
.sitio li {
	list-style: none;
}
.sitio a{
	display:inline-block;
	width: 100%;
	color: #E72A31;
	padding: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 15px;
	transition: all 0.5s ease;
}
.sitio a:hover {
	color: #000;
	font-weight: bold;
	transition: all 0.5s ease;
}
/*flecha*/	
.sitio>div>div>div>a{
	width: 10%;
	text-align: right;
	color: #D8D8D8;
	height: 30px;
}
.sitio>div>div>div>a:hover {
	color: #000;
}
/*header*/
header {
	position: fixed;
	margin-top: -10px;
	width: 100%;
	z-index: 1;
	background-color: #FC4A4A;
	height: 80px;
	-webkit-box-shadow:00px 10px 10px 0px rgba(17,17,18,0.32);
	-moz-box-shadow: 0px 10px 10px 0px rgba(17,17,18,0.32);
	box-shadow: 0px 10px 10px 0px rgba(17,17,18,0.32);
}
.navbar-toggle span{
	color: #FFF;
	margin-top: 5px;
}
.logo {
	position: absolute;
    left: 45%;
}
.nav {
	width: 100%;

}
.nav li {
	text-align: right;
	margin-top: -10px;
	width: 40%;
}
.nav li:nth-child(2){
	margin-left: 20%;
	text-align: left;
}
.nav>li>a{
	font-size: 18px;
	color: #FFF;
	text-transform: uppercase;
}




/*BANNER*/
#banner {
	padding-top: 100px;
	background-image: url(../img/bg-1.jpg);
	background-size: cover;
	color: white;
	height: 300px;
}
#banner h1 {
	margin-top: 20px;
	text-align: center;
}
#banner p {
	text-align: justify;
	padding: 5%;
	font-size: 12px;
}
.banner {

	background-color: rgba(0, 0, 0, 0.5);
}
/*nuestras areas*/
#nuestras-areas {
	margin-top: 20px;
	padding-top: 70px;
}
#nuestras-areas a {
	color: black;
}
.white-bg{
  background-color: #D8D8D8;
}
.other-area,.other-area2 {
  font-size: 16px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  height: 80px;
  transition: all 0.5s ease;
}

.other-area:hover , .other-area2:hover {
  font-size: 15px;
  letter-spacing: 2px;
  background-color: #000;
  color: #FFF;
  padding-top: 10px;
  transition: all 0.5s ease;
}
.other-area i , .other-area2 i {
  font-size: 16px;
  transition: all 0.5s ease;
}
.other-area i:hover , .other-area2 i:hover {
  font-size: 12px;
  transition: all 0.5s ease;
}

/*BLog*/
#blog hr {
	height: 1px;
	background-color: #D8D8D8;
}
.destacado {
	margin-top: 20px;
	padding-bottom: 20px;
}
#blog a{
	display:inline-block;
	background-color: #D8D8D8;
	font-size: 14px;
	padding: 5px;
}
.blog {
	margin-bottom: 20px;
}

/*footer*/
footer {
	background-color: #D8D8D8;
	text-align: center;
}
footer a {
	color: #E72A31;

}


/*>>>>MOVIL<<<<<*/

@media only screen and (max-width: 500px) {
	.nav li:nth-child(2){
	margin-left: 0%;
	text-align: center;
	}
	.logo {
	position: inherit;
    left: 45%;
	}
	.nav>li>a {
		color: #000;
	}
	.nav li {
		text-align: center;
		width:100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.nav{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 5px;
		padding-left: 1%;
	}
	.navbar-collapse {
		margin-top: 30px;
		background-color: #F6F6F6;
		border-bottom:1px solid #FC6C85 ;
		border-left: 1px solid #FC6C85;
		border-right: 1px solid #FC6C85;
	}
}